
.img-display{
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    position: relative;
}
.img-display:hover{
    transform: scale(1.1);
}
  
.gridlist{
    border-radius: 2;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    border-radius: 5px;
}
.gridlist:hover{
    transform: scale(1.1);
    z-index: 2;
    border-radius: 2;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    border-radius: 5px;
    cursor: pointer;
}